<div class="perfil-container">
  @if (user) {
    <div class="perfil-header">
      <img 
        [src]="fullAvatarUrl || 'imagenes/Noli-sonrisita.png'" 
        alt="Foto de perfil" 
        class="perfil-avatar"
        appImgDefault>
      <div class="perfil-info">
        <h1 class="perfil-nombre">{{ user.nombre }} {{ user.apellido }}</h1>
        <h2 class="perfil-username">&#64;{{ user.nombreUsuario }}</h2>
        <p class="perfil-email">{{ user.email }}</p>
        <p class="perfil-fecha">Cumpleaños: {{ user.fechaNacimiento | date:'longDate' }}</p>
        @if (user.descripcion) {
          <p class="perfil-descripcion">{{ user.descripcion | truncar:20}}</p>
        }
      </div>
      <button class="btn btn-edit" (click)="isEditModalOpen = true">Editar Perfil</button>
      <button class="btn btn-primary" (click)="isModalOpen = true">+ Crear Chisme</button>
    </div>

    <div class="perfil-publicaciones">
      <h3>Últimos Chismes</h3>
      
      @if (isLoading) {
        <p>Cargando publicaciones...</p>
      }

      @if (!isLoading && publicaciones.length > 0) {
        <div class="publicaciones-list">
          @for (pub of publicaciones; track pub._id) {
            <app-publicacion-card 
              [publicacion]="pub" 
              [currentUser]="user"
              (onLikeToggle)="handleLikeToggle($event)"
              (deleteRequest)="onDeleteRequest($event)">
            </app-publicacion-card>
          }
        </div>
      }

      @if (!isLoading && totalPaginas > 1) {
        <app-paginacion
          [paginaActual]="paginaActual"
          [totalPaginas]="totalPaginas"
          (paginaCambiada)="onPaginaCambiada($event)">
        </app-paginacion>
      }

      @if (!isLoading && publicaciones.length === totalPublicaciones && publicaciones.length > 0) {
        <p class="end-of-list">No hay mas chismes por ahora.</p>
      }

      @if (!isLoading && publicaciones.length === 0) {
        <p class="no-publicaciones">Aun no publicaste ningún chisme</p>
      }
    </div>
  }

  @if (isModalOpen) {
    <app-create-publicacion-modal 
      (close)="isModalOpen = false"
      (publicacionCreada)="addNewPublicacion($event)">
    </app-create-publicacion-modal>
  }

  @if (isEditModalOpen && user) {
  <app-edit-perfil-modal
    [user]="user"
    (close)="isEditModalOpen = false"
    (userUpdated)="onUserUpdated($event)">
  </app-edit-perfil-modal>
}

  @if (errorMessage) {
    <div class="alert alert-danger">{{ errorMessage }}</div>
  }

  @if (publicacionAEliminar) {
    <app-confirm-modal
      [message]="'Seguro que queres eliminar este chisme? No se puede deshacer.'"
      confirmButtonText="Sí, eliminar"
      [danger]="true"
      (onConfirm)="onConfirmDelete()"
      (onClose)="onCancelDelete()">
    </app-confirm-modal>
  }
</div>
