@import '../../features/publicaciones/create-publicacion/create-publicacion-modal/create-publicacion-modal.css';

.btn-danger {
  background: var(--error);
  color: var(--white);
  box-shadow: var(--shadow-md);
}

.btn-danger:hover:not(:disabled) {
  background: #d63a3a; 
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}

.modal-mascota-container {
  text-align: center;
  margin-bottom: 1rem;
}

.modal-mascota {
  max-width: 130px;
  opacity: 0.8;
  animation: fadeIn 0.3s ease;
}

.modal-body {
  padding-top: 1.5rem;
}