@import '../../features/publicaciones/create-publicacion/create-publicacion-modal/create-publicacion-modal.css';

.btn-danger {
  background: var(--error);
  color: var(--white);
  box-shadow: var(--shadow-md);
}

.btn-danger:hover:not(:disabled) {
  background: #d63a3a; 
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}